<div class="container">
    <h1 mat-dialog-title>(modal) {{action}}  Inspection  id: {{data.maintScheduleId}}</h1>
  
    <form [formGroup]="MaintScheduleAssetForm ">
  
      
        <!-- MaintSchedule -->
        <div class="form">
          <mat-form-field>
              <mat-select 
               
                formControlName="maintScheduleId"
                placeholder="Change Maintenance Schedules">
           <!-- <mat-select-trigger>{{MaintScheduleAssetForm.value.maintSchedule.name}}</mat-select-trigger>-->
              <mat-option *ngFor="let maintSchedule of ListOfMaintSchedules" 
                [value]="maintSchedule.id">
                 {{maintSchedule.name}} ({{maintSchedule.monthsInterval}} m.)
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
    

      <!-- isActive -->
      <div class="form">
        <mat-slide-toggle  formControlName="isActive">
          Is Active
        </mat-slide-toggle>
      </div>
  
      <!-- nextInspectionDate -->
      <div class="form">
          <mat-form-field>
            <input matInput  [matDatepicker]="picker" placeholder="nextInspectionDate"
              formControlName="nextInspectionDate" [value]="data.nextInspectionDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
  
  
  
      <div mat-dialog-actions>
        <button mat-button (click)="submit()">{{action}}</button>
        <button mat-button (click)="closeDialog()" tabindex="-1">Cancel</button>
      </div>
  
    </form>
  
  </div>
