<div class="card">
    <div class="card-header">
        <span>
            <strong> ASSET MAINTENANCE </strong> <small>List</small> 
            <button (click)="openDialog('Add',{})"mat-stroked-button color="primary"><i class="material-icons">
                add
                </i> New</button>
            <button  mat-stroked-button color="primary">Options <i class="material-icons">
                keyboard_arrow_down
                </i> </button>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
        </span>
    </div>
    <div class="card-body">
    
        <table mat-table [dataSource]="dataSource" matSort #assetsListTable>
        
            <!-- assetId Column -->
            <ng-container matColumnDef="assetId">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> assetId </th>
                <td mat-cell *matCellDef="let element"> {{element.assetId}} </td>
            </ng-container>

            <!-- product.productCategoryName Column -->
            <ng-container matColumnDef="product.productCategoryName">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Category</th>
                <td mat-cell *matCellDef="let element"> {{element.product.productCategoryName}} </td>
            </ng-container>

            <!-- maintScheduleName Column -->
            <ng-container matColumnDef="maintScheduleName">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> maintScheduleName</th>
                    <td mat-cell *matCellDef="let element"> {{element.maintScheduleName}} </td>
                </ng-container>

            <!-- product.name Column -->
            <ng-container matColumnDef="product.name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
            </ng-container>

            <!-- clientUserId Column -->
            <ng-container matColumnDef="product.isActive">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> isActive</th>
            <td mat-cell *matCellDef="let element"> {{element.product.isActive}} </td>
            </ng-container>

            <!-- monthsInterval Column -->
            <ng-container matColumnDef="monthsInterval">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> monthsInterval </th>
                <td mat-cell *matCellDef="let element"> {{element.monthsInterval}} </td>
            </ng-container>

            <!-- isActive Column -->
            <ng-container matColumnDef="isActive">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> isActive </th>
                <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
            </ng-container>

      

            <!-- location Column -->
            <ng-container matColumnDef="location">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>

            <!-- quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Qty. </th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <!-- manufacturedDate Column -->
            <ng-container matColumnDef="manufacturedDate">
                <th mat-header-cell mat-sort-header  *matHeaderCellDef> Manufactured </th>
                <td mat-cell *matCellDef="let element"> {{element.manufacturedDate | date:'MMM, y'}} </td>
            </ng-container>    

            <!-- installedDate Column -->
            <ng-container matColumnDef="installedDate">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Installed </th>
                <td mat-cell *matCellDef="let element"> {{element.installedDate | date:'MMM, y'}} </td>
            </ng-container>  

            <!-- lastRev Column -->
            <ng-container matColumnDef="lastRev">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> last Rev </th>
                <td mat-cell *matCellDef="let element"> {{element.lastRev| date:'MMM, y'}} </td>
            </ng-container>

            <!-- nextRev Column -->
            <ng-container matColumnDef="nextRev">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> next Rev </th>
                <td mat-cell *matCellDef="let element"> {{element.nextRev| date:'MMM, y'}} </td>
            </ng-container>

           
            
            <!-- lastResult Column -->
            <ng-container matColumnDef="lastResult">
                <th mat-header-cell mat-sort-header  *matHeaderCellDef> last Result </th>
                <td mat-cell *matCellDef="let element"> {{element.lastResult}} </td>
            </ng-container>  

            <!-- Actions Column -->
            
            <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                      <button mat-icon-button color="primary" (click)="openDialog('Add',{})">
                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                      </button>
                    </mat-header-cell>
              
                    <mat-cell *matCellDef="let row; let i=index;"> 
                            <!-- 
                                <a (click)="openDialog('update',row)">Edit</a> 
                                <a (click)="openDialog('delete',row)">Delete</a> 
                             -->
                      <button mat-icon-button color="primary" (click)="openDialog('Update',row)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                      </button>
              
                      <button mat-icon-button color="warn" (click)="openDialog('Delete',row)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>

                
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
    <mat-paginator [pageSizeOptions]="[20, 30, 40, 50]" showFirstLastButtons></mat-paginator>
</div>


