<div class="container">
    <h1 mat-dialog-title>(modal) {{action}}  Asset id: {{data.id}}</h1>
  
    <form [formGroup]="assetForm">
  
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="quantity" formControlName="quantity" readonly>
        </mat-form-field>
      </div>
      <!-- product -->
      
      <div formGroupName="product">
  
          <div class="form">
              <mat-form-field>
                <mat-select placeholder="Select Category" formControlName="productCategoryId"
                   (selectionChange)="getProductsOfCategory($event.value)">
                  <mat-option [value]="category.id" *ngFor="let category of Categories">
                    {{category.id}}-{{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="form">
                <mat-form-field>
                  <mat-select [value]="this.data.product" placeholder="Select Product"
                  formControlName="id">
                    <mat-option [value]="product.id" *ngFor="let product of ListOfProducts">
                      {{product.id}}-{{product.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
      </div>
  
  
  <div class="form">
        <mat-form-field>
          <input matInput  placeholder="location" formControlName="location">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-slide-toggle  formControlName="isActive">
          Is Active
        </mat-slide-toggle>
      </div>
  
      <div class="form">
        
          <mat-form-field>
            <input matInput  [matDatepicker]="picker2" placeholder="Manufactured date"
              formControlName="manufacturedDate" [value]="data.manufacturedDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
      </div>
  
  
  
      <div mat-dialog-actions>
        <button mat-button (click)="submit()">{{action}}</button>
        <button mat-button (click)="closeDialog()" tabindex="-1">Cancel</button>
      </div>
  
    </form>
  </div>