<div class="card">
    <div class="card-header">
        <span>
            <strong> ASSETS </strong> <small>List</small> 
            <button [routerLink]="['/assets/new']" mat-stroked-button color="primary"><i class="material-icons">
                add
                </i> New</button>
            <button  mat-stroked-button color="primary">Options <i class="material-icons">
                keyboard_arrow_down
                </i> </button>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
        </span>
    </div>
    <div class="card-body">
    
        <table mat-table [dataSource]="dataSource" matSort #assetsListTable>
        
            <!-- id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- clientId Column -->
            <ng-container matColumnDef="clientId">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> clientId</th>
                <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
            </ng-container>

            <!-- clientUserId Column -->
            <ng-container matColumnDef="clientUserId">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> clientUserId</th>
            <td mat-cell *matCellDef="let element"> {{element.clientUserId}} </td>
            </ng-container>

            <!-- clientCompany Column -->
            <ng-container matColumnDef="clientCompany">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> clientCompany </th>
                <td mat-cell *matCellDef="let element"> {{element.clientCompany}} </td>
            </ng-container>

            <!-- name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- location Column -->
            <ng-container matColumnDef="location">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>

            <!-- quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Qty. </th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <!-- isActive Column -->
            <ng-container matColumnDef="isActive">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Active </th>
                <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
            </ng-container>

            <!-- manufacturedDate Column -->
            <ng-container matColumnDef="manufacturedDate">
                <th mat-header-cell *matHeaderCellDef> Manufactured Date </th>
                <td mat-cell *matCellDef="let element"> {{element.manufacturedDate | date:'MMM, y'}} </td>
            </ng-container>    

            <!-- installedDate Column -->
            <ng-container matColumnDef="installedDate">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Installed Date </th>
                <td mat-cell *matCellDef="let element"> {{element.installedDate | date:'MMM, y'}} </td>
            </ng-container>   
            
            <!-- productId Column -->
            <ng-container matColumnDef="productId">
                <th mat-header-cell *matHeaderCellDef> productId </th>
                <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
            </ng-container>  

            <!-- productName Column -->
            <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef> productName </th>
                <td mat-cell *matCellDef="let element"> {{element.productName}} </td>

            </ng-container>
            <!-- Actions Column -->
            
            <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                      <button mat-icon-button color="primary" (click)="openDialog('Add',{})">
                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                      </button>
                    </mat-header-cell>
              
                    <mat-cell *matCellDef="let row; let i=index;"> 
                            <!-- 
                                <a (click)="openDialog('update',row)">Edit</a> 
                                <a (click)="openDialog('delete',row)">Delete</a> 
                             -->
                      <button mat-icon-button color="primary" (click)="openDialog('Update',row)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                      </button>
              
                      <button mat-icon-button color="warn" (click)="openDialog('Delete',row)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>

                
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
    <mat-paginator [pageSizeOptions]="[20, 30, 40, 50]" showFirstLastButtons></mat-paginator>
</div>

